@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poiret+One&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-highlight: "Poiret One", "Comfortaa", "Roboto", sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 210, 210, 210;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  /* Playing with colors */

  --color-black: #000;
  --color-dark-red: #cd242c;
  --color-primary: #2f33e8;
  --color-primary-light: #d2d3fc;
  --color-gray: #ededed;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  } */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-black);
  background: var(--color-gray) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.side-drawer {
  height: 100%;
  display: flex;
}
.top-drawer {
  width: 100%;
  display: none;
}

.card-description {
  margin-bottom: 50px;
  text-align: justify;
}

.site-name,
.page-name {
  font: 900 small-caps normal 2em var(--font-highlight) !important;
}
.site-name {
  margin: auto;
}
/* MUI classes */

.MuiTypography-h5 {
  color: var(--color-primary);
  font-family: var(--font-highlight) !important;
  font-weight: 600 !important;
}

.content {
  padding-left: 250px;
  width: 100%;
  margin: 0 auto;
}

.card-list {
  margin: auto;
  width: 100%;
  /* background-color: #00000046; */
}

.card-item {
  margin: 40px auto;
  max-width: 700px;
  max-height: 300px;
}

.card-item a {
  display: flex;
  max-width: inherit;
  max-height: inherit;
}

.card-image-container {
  max-width: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #8f8f8f12;
}

.card-image {
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover !important;
}

.highlight-background {
  background-color: var(--color-primary-light);
}
/* Responsive */

@media (max-width: 850px) {
  .top-drawer {
    display: block;
    visibility: visible;
  }
  .MuiDrawer-root {
    display: none;
    visibility: hidden;
  }
  .MuiPaper-root {
    width: 100%;
  }
  main {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .content {
    padding-left: 0px;
  }
}
